<div class="m-12">
  <nav>
    <div class="py-2 border-b-2 mb-6">
      <ul class="hidden md:flex justify-normal">
        <li class="mr-6 text-xl"><a class="nav-link" href="/">Home</a></li>
        <li class="mr-6 text-xl"><a class="nav-link" href="/about">About</a></li>
        <li class="mr-6 text-xl"><a class="nav-link" href="/contacts">Contacts</a></li>
        <li class="flex-grow"></li>
        <li class="mr-6"><span class="material-symbols-outlined cursor-pointer my-2" id="toggleDarkMode">dark_mode</span></li>
        <li class="mr-6 text-xl"><a class="nav-link" href="/contacts">Language</a></li>
      </ul>
      <ul class="md:hidden flex justify-between">
        <li class="flex-grow p-5"></li>
        <li><button id="menuButton" class="md:hidden text-xl focus:outline-none"><span class="material-symbols-outlined" id="menuIcon">menu</span></button></li>
      </ul>
    </div>
  </nav>
  <div id="menu"
    class="hidden fixed top-15 right-2 bg-gray-900 bg-opacity-90 z-50 flex-col items-center justify-center space-y-6 text-white text-xl rounded-lg p-5">
    <ul class="space-y-6 list-none">
      <li class="mr-6 text-xl"><a class="nav-link" href="/">Home</a></li>
      <li class="mr-6 text-xl"><a class="nav-link" href="/about">About</a></li>
      <li class="mr-6 text-xl"><a class="nav-link" href="/contacts">Contacts</a></li>
      <li class="flex-grow"></li>
      <li class="mr-6"><span class="material-symbols-outlined cursor-pointer md-60" id="toggleDarkMode">dark_mode</span></li>
      <li class="mr-6 text-xl"><a class="nav-link" href="/contacts">Language</a></li>
    </ul>
  </div>
</div>

<script>
  const menuButton = document.getElementById('menuButton');
  const menuIcon = document.getElementById('menuIcon');
  const menu = document.getElementById('menu');

  menuButton.addEventListener('click', () => {
    menu.classList.toggle('flex');
    menu.classList.add('animate__animated', 'animate__fadeIn');
    menu.style.setProperty('--animate-duration', '0.2s');
    menu.classList.toggle('hidden');
    
    menuIcon.classList.add('animate__animated', 'animate__rotateIn');
    menuIcon.style.setProperty('--animate-duration', '0.2s');
    menuIcon.addEventListener('animationend', () => {
      menuIcon.classList.remove('animate__rotateIn');
    }, { once: true });
    
    menuIcon.textContent = menuIcon.textContent === 'menu' ? 'close' : 'menu';
  });

  document.addEventListener('click', (event) => {
    if (!menu.contains(event.target) && !menuButton.contains(event.target) && !menu.classList.contains('hidden')) {
      menu.classList.add('hidden');
      menu.classList.remove('flex');
      
      menuIcon.classList.add('animate__animated', 'animate__rotateIn');
      menuIcon.style.setProperty('--animate-duration', '0.2s');
      menuIcon.addEventListener('animationend', () => {
        menuIcon.classList.remove('animate__rotateIn');
      }, { once: true });
      
      menuIcon.textContent = 'menu';
    }
  });
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
