::selection {
    background-color: #4A5568; /* Custom background color */
    color: #ffffff; /* Custom text color */
}

.header-anchor {
  text-decoration: none!important;
}


.nav-link {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0.5rem 0;
}

.nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #434343;  /* Default color for light theme */
  transform: translateX(-105%);
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;  /* Ensure transition of background-color */
}

/* On hover, the line moves */
.nav-link:hover::before {
  transform: translateX(0);
}

/* Dark mode style */
.dark .nav-link::before {
  background-color: #bbb;  /* Change to a lighter/darker color for dark theme */
}


#snowfall {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

/* a:hover {
    background-color: gray;
} */


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size: 30px /* Adjust the size as needed */ !important;
  }



/* Smooth transition for background and text color */
html, body {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* Optional: Add a slight delay effect for smoother theme switching */
.theme-transition {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

ul li::marker {
  font-size: 1.2em;
  animation: rainbow 2s infinite;
}

@keyframes rainbow {
  0% { color: red; }
  14% { color: orange; }
  28% { color: #b9c50d; }
  42% { color: green; }
  57% { color: blue; }
  71% { color: rgb(135, 8, 226); }
  85% { color: violet; }
  100% { color: red; }
}

ul li::marker {
  font-size: 1.2em !important;
  animation: rainbow 20s infinite !important;
}