---
permalink: /sitemap.xml
layout: null
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
    {%- if page.url and not page.data.eleventyExcludeFromCollections %}
      {%- set status = page.data.status or "published" %}
      {%- if status == "published" %}
  <url>
    <loc>https://test.curious-grapes.one{{ page.url }}</loc>
    {%- if page.data.date %}
    <lastmod>{{ page.data.date }}</lastmod>
    {%- elif page.date %}
    <lastmod>{{ page.date.toISOString() }}</lastmod>
    {%- endif %}
  </url>
      {%- endif %}
    {%- endif %}
  {%- endfor %}
</urlset>
